section {
  outline: 2px solid yellow;
  background-color:  rgba(186, 216, 137, 0.2);
}
header,
main,
footer {
  outline: 2px solid darkred;
  background-color:  rgba(138, 25, 40, 0.2);
}
div {
  outline: 2px solid orangered;
  background-color:  rgba(214, 73, 48, 0.2);
}

nav {
  outline: 2px solid green;
  background-color:  rgba(21, 92, 48, 0.2);
}

ul {
  outline: 2px solid blue;
  background-color:  rgba(57, 30, 133, 0.2);
}

li {
  outline: 1px solid blueviolet;
  background-color:  rgba(126, 18, 117, 0.2);
}
p {
  outline: 1px solid lightgreen;
  background-color:  rgba(19, 95, 66, 0.2);
}
a {
  outline: 1px solid rgb(209, 175, 175);
  background-color:  rgba(209, 175, 175, 0.8);
}

h1 {
  outline: 1px solid rgb(209, 175, 175);
  background-color:  rgba(209, 175, 175, 0.8);
}
