body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

 background-color: #849d8f;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-navigation {
display: flex;
justify-content: space-between;
}

.catalog-page .main-navigation {
  justify-content: flex-start;
}

.main-header-logo {
  width: 156px;
  height: 63px;
  padding-top: 10px;
  margin-right: 20px;
}

.catalog-page .main-header-logo {
  margin-right: 10px;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation {
  width: 705px;
}

.catalog-page .site-navigation {
  width: 690px;
}


.site-navigation > li > a {
  color: #ffffff;
  font-weight: bold;
  line-height: 18px;
  text-decoration: none;
}

.site-navigation > li > a:hover,
.site-navigation > li > a:focus {
  background-color: #f7f6f3;
  color: #323232;
}

.site-navigation > li > a:active {
  background-color: #ededed;
}

.site-navigation > .current > a,
.site-navigation > .current > a:hover,
.site-navigation > .current > a:focus,
.site-navigation > .current > a:active {
  background-color: #d07058;
  color: #ffffff;
}

.user-navigation {
  width: 245px;
  margin-left: auto;
}

.catalog-page .user-navigation {
  width: 267px;
  margin-left: 25px;
}

.user-navigation .button {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;

  border: none;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.user-navigation .button:hover,
.user-navigation .button:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.user-navigation .basket-not-empty {
  color: #323232;

  background-color: #f7f6f3;
}

.main-page .button {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  color: #ffffff;

  border: none;
  background-color: #f06341;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76)

}

.main-page .button:hover,
.main-page .button:focus {
  background-color: #f38167;
}

.main-page .button:active {
  background-color: #d94934;
}


.features {
  padding: 27px 20px;
  margin-bottom:40px;

  color: #323232;

  border-radius: 15px;
  background-image: url("../img/bg-waffle.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.features h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.feature-column {
  margin: 0;
  padding: 0;
  width: 540px;
}

.features ul {
  list-style: none;
}

.news,
.subscription {
  width: 560px;
  border-radius: 15px;
}

.news {
  color: #323232;

  min-height: 220px;
  background-color: #ffffff;
  background-image: url("../img/bg-strawberry.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.news h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.news a {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
}

.news a:hover,
.news a:focus,
.news a:active {
  color: #e84d37;
  text-decoration: underline;
}

.subscription {
  padding: 5px;
  min-height: 210px;

  background-image: url(../img/bg-post.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f8f7f4;
}

.subscription .wrapper {
  min-height: 210px;

  border-radius: 10px;
  background-color: #f8f7f4;
}

.subscription p {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

/* Стили для страницы каталога */

.catalog-content h1 {
  margin: 0;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.catalog-content ul {
  list-style: none;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a {
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
}

.contacts-info{
  margin: 0;
  padding: 0;
  margin-top: -4px;
  self-align: top;

  text-align: right;
}

.contacts-info .working-hours {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.contacts-info .phone {
  font-size: 22px;
  line-height: 28px;
  font-weight: bold;
}

.catalog-content .catalog {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.catalog-item {
  width: 267px;
  margin-right: 26px;
  margin-bottom: 40px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item h3 {
  margin: 0;
  padding: 0;
}
.catalog-item p {
  margin: 0;
  padding: 0;
}

.catalog-item:hover,
.catalog-item:focus {
  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4)
}

.catalog-item a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active {
  color: #ffbc9e;
}

.catalog-item .price-info {
  font-weight: bold;

}

.price-info .rubles {
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.price-info .kilo {
  font-size: 30px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

/* Стили для подвала */

.main-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.main-footer ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
.main-footer a {
  color: #ffffff;
  text-decoration: none;
}

.main-footer a:hover,
.main-footer a:focus,
.main-footer a:active {
  color: #ffbc9e;
}

.main-footer .social {
  width: 267px;
}

.main-footer .info {
  margin: 0;
  padding: 0;
  width: 560px;
}

.main-footer .copyright {
  width: 267px;
}

.info a {
  font-size: 13px;
  line-height: 18px;
}

.info b {
  font-weight: bold;
}

.copyright a {
  font-size: 12px;
  line-height: 18px;
}


/* Стили для сетки */

body {
  /* Временно для сетки
  background-color: transparent;
  background-image: url(../img/gllacy-index.jpg);
  background-size: 1200px 2416px;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 2416px;
  */
}

.catalog-page {
    /* Временно для сетки
    background-color: transparent;
    background-image: url(../img/gllacy-catalog.jpg);
    background-size: 1200px 1650px;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 1650px;
*/
}


.main-header {
  /* Временно для сетки
  min-height: 73px;
  margin-bottom: 1204px;
*/}

.catalog-page .main-header {
  /* Временно для сетки */
  /* margin-bottom: 0; */
  }

.main-navigation {
    /* Временно для сетки */
    /* min-height: 73px; */
}


.main-navigation ul {

    /* Временно для сетки */
    /* min-height: 53px; */
}


.features {
  /* Временно для сетки */
   /* min-height: 250px; */
}

.features h3 {
  /* Временно для сетки */
  /* min-height: 60px; */
}

  .feature-column {
    /* Временно для сетки */
     /* min-height: 187px; */
}

.news-and-subscription {
    /* Временно для сетки */
     /* margin-bottom: 468px; */
}
.news,
.subscription {
    /* Временно для сетки
     min-height: 222px;
     background: none; */
}

.main-footer {
    /* Временно для сетки
     min-height: 104px; */
}

.main-footer .social {
    /* Временно для сетки
     min-height: 104px; */
}

.main-footer .info {
    /* Временно для сетки
     min-height: 104px; */
}

.main-footer .copyright {
    /* Временно для сетки
     min-height: 104px; */
}

.inner-page {
  /* Временно для сетки
   box-sizing: border-box;
   min-height: 1470px; */
}


.inner-page .inner-main-top {
   /* Временно для сетки
   min-height: 90px;
   margin-bottom: 195x; */

}


.inner-page .catalog {
   /* Временно для сетки */
   /* min-height: 1050px; */
}


