body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

 background-color: #99aea2;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

 .button {
  display: inline-block;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  text-align: center;

  border: none;
  background-color: #f06341;
  background-image: linear-gradient( to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button:hover,
.button:focus {
  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.54);
}

.button:active {
  background-image: linear-gradient( to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(85, 8, 0, 0.54);
  outline: none;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.main-navigation {
display: flex;
justify-content: space-between;
align-items: center;
}

.catalog-page .main-navigation {
  justify-content: flex-start;
}

.main-header-logo {
  width: 155px;
  height: 63px;
  padding-top: 10px;
  margin-right: 9px;
}

.catalog-page .main-header-logo {
  /* margin-right: 10px; */
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 705px;
}

.catalog-page .site-navigation {
  width: 690px;
}

.site-navigation > li {
  position: relative;
  vertical-align: middle;
}
.site-navigation > li > a {
  display: block;
  box-sizing: border-box;
  height: 32px;
  padding: 8px 14px 8px;

  font: inherit;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-underline-position: under;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.site-navigation > li > a:hover,
.site-navigation > li > a:focus {
  border-radius: 20px;
  background-color: #f7f6f3;
  color: #323232;
}

.site-navigation > li > a:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px #696969;
}

.site-navigation > .current > a,
.site-navigation > .current > a:hover,
.site-navigation > .current > a:focus,
.site-navigation > .current > a:active {
  border-radius: 20px;
  background-color: #d07058;
  color: #ffffff;
}

.site-navigation .sub-menu {
  display: none;
  position: absolute;
  left: -7px;
  top: 30px;
  width: 145px;
  box-sizing: border-box;
  margin: 0;
  padding: 5px 0;
  list-style: none;

  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.site-navigation > li:hover > ul,
.site-navigation  a:focus ~ .sub-menu {
  display: block;

}

.sub-menu a {
  display: block;
  padding-left: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  font: inherit;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
}

.sub-menu a:hover,
.sub-menu a:focus {
  background-color: #fbded7;
}

.sub-menu a:active {
  background-color: #f6b5a5;
}

.sub-menu li:first-child {
  position: relative;
}
.sub-menu li:first-child::after {
  content: "";
  position: absolute;
  left: 5px;
  width: 132px;
  height: 1px;

  background-color: rgba(0, 0, 0, 0.2);
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 280px;
  margin-left: auto;
}

.catalog-page .user-navigation {
  margin-left: 25px;
}
.user-navigation li {
  vertical-align: middle;
  margin-left: 10px;
}

.user-navigation-button {

  display: block;
  box-sizing: border-box;
  height: 32px;
  padding-left: 15px;
  padding-right: 16px;
  /* padding-top: 2px; */

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;

  border: none;
  border-radius: 20px;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.2);
 }

.user-navigation-button:hover,
.user-navigation-button:focus {
  color: #323232;
  background-color: #f8f7f4;
}
/*
.user-navigation .search {
  width: 32px;

  padding: 0;
  padding-top: 2px;
}
 */
.user-navigation .search svg {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.user-navigation .search:hover path,
.user-navigation .search:focus path {
  fill: #000000;
}

.user-navigation .login svg {
  margin-right: 5px;
  vertical-align: middle;
}
.user-navigation .login g {
  fill: #ffffff;
}

.user-navigation .login:hover g,
.user-navigation .login:focus g {
  fill: #000000;
}

.user-navigation .basket {
  position: relative;
  padding-left: 45px;
  padding-top: 9px;
}
/*
.user-navigation .basket-empty::before {
  position: absolute;
  content: "";
  top: 7px;;
  left: 16px;
  width: 23px;
  height: 23px;
  background-image: url("../img/basket.svg");
}
 */
.user-navigation .basket-not-empty {
  color: #323232;

  background-color: #f7f6f3;
}

.contacts-info {
  margin: 0;
  padding: 0;

  font-weight: bold;
  text-align: right;
}

.contacts-info .working-hours {
  font-size: 14px;
  line-height: 16px;
}

.contacts-info .phone {
  font-size: 22px;
  line-height: 28px;
}

.slider {
  text-align: center;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide-title {
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  text-align: center;
}

.slide-button {
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76)
}

.discount-item h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.discount-item p {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.discount-raspberry {
  background-color: #b93242;
  background-image: url("../img/bg-raspberry.jpg");
  background-repeat: no-repeat;
}

.discount-chocolate {
  background-color: #704d45;
  background-image: url("../img/bg-chocolate.jpg");
  background-repeat: no-repeat;
}
.features {
  padding: 27px 20px;
  margin-bottom:40px;

  color: #323232;

  border-radius: 15px;
  background-image: url("../img/bg-waffle.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.features h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.feature-column {
  margin: 0;
  padding: 0;
  width: 540px;
}

.features ul {
  list-style: none;
}

.news,
.subscription,
.discount-item {
  box-sizing: border-box;
  width: 560px;
  border-radius: 15px;
}

.news {
  color: #323232;

  min-height: 220px;
  background-color: #ffffff;
  background-image: url("../img/bg-strawberry.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.news h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.news a {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
}

.news a:hover,
.news a:focus,
.news a:active {
  color: #e84d37;
  text-decoration: underline;
}

.subscription {
  padding: 5px;

  background-image: url(../img/bg-post.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f8f7f4;
}

.subscription .wrapper {
  min-height: 210px;

  border-radius: 10px;
  background-color: #f8f7f4;
}

.subscription p {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.map .contacts {
  font-size: 14px;
  line-height: 20px;

  color: #323232;
  background-color: #fefefe;
}

.contacts b {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

/* Стили для страницы каталога */

.catalog-page h1 {
  margin: 0;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.catalog {
  list-style: none;
}

.breadcrumbs {
  list-style: none;
  font-size: 14px;
  line-height: 16px;

}

.breadcrumbs a {
  text-underline-position: under;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
  text-decoration-color: rgba(232, 77, 55, 0.3);
}

.filters .filter {
  margin: 0;
  padding: 0;

  list-style: none;
  background-color: rgba(248, 247, 244, 0.2);
}

.filters fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filters .field-name {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filters select  {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  background-color: transparent;
}

.filters select:hover {
  color: #323232;
}
.filters select:focus,
.filters select:active {
  color: #323232;

  outline: none;
  background-color: #ffffff;
}

.category option {
  font-size: 14px;
  line-height: 16px;
/*  padding-top: 3px;
  padding-bottom: 3px;
*/
  font-weight: normal;
}

.filters .submit-button {
  /* box-sizing: border-box; */
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  border: 2px solid #fbfcfb;
  background-color: rgba(255, 255, 255, 0.2);
}

.filters .submit-button:hover,
.filters .submit-button:focus {
  color: #323232;

  outline: none;
  background-color: #fbfcfb;
}

.filters .submit-button:active {
  color: #323232;

  outline: none;
  border: none;
  background-color: #eaeaea;
  box-shadow: inset 0 2px 1px rgba(105, 105, 105, 0.004);
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.catalog-item {
  width: 267px;
  margin-right: 26px;
  margin-bottom: 40px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item h3 {
  margin: 0;
  padding: 0;
}
.catalog-item p {
  margin: 0;
  padding: 0;
}

.catalog-item:hover,
.catalog-item:focus {
  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4)
}

.catalog-item a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-underline-position: under;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active {
  color: #ffbc9e;
  text-decoration-color: rgba(232, 77, 55, 0.3);
}

.catalog-item .price-info {
  font-weight: bold;

}

.price-info .rubles {
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.price-info .kilo {
  font-size: 30px;
  line-height: 45px;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item .button {
  display: none;
}

.catalog-item:hover .button {
  display: inline-block;
  color: #ffffff;
}

.paginator {
  margin: 0;
  padding: 0;
  list-style: none;

}
.paginator a {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.paginator a:hover,
.paginator a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.paginator a:active {
  color: #323232;

  background-color: #fbfcfb;
}

.paginator .current,
.paginator .current:hover {
  color: #323232;

  background-color: #fbfcfb;
}
/* Стили для подвала */

.main-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.main-footer ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
.main-footer a {
  color: #ffffff;
  text-underline-position: under;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.main-footer a:hover,
.main-footer a:focus,
.main-footer a:active {
  color: #ffbc9e;
  text-decoration-color: rgba(232, 77, 55, 0.3);
}

.main-footer .social {
  width: 267px;
}

.main-footer .info {
  margin: 0;
  padding: 0;
  width: 560px;
}

.main-footer .copyright {
  width: 267px;
}

.info a {
  font-size: 13px;
  line-height: 18px;
}

.info b {
  font-weight: bold;
}

.copyright a {
  font-size: 12px;
  line-height: 18px;
}

.copyright img {
  width: 110px;
  height: 40px;
}

/* Стили для попапов */
.pop-up {
  box-sizing: border-box;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.search-form {
  width: 342px;
  height: 85px;
  padding: 20px 15px;
}

.login-form {
  width: 277px;
  height: 214px;
  padding: 20px;
}

.login-form a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-underline-position: under;
  text-decoration-color: rgba(50, 50, 50, 0.3);
}

.login-form a:hover,
.login-form a:focus,
.login-form a:active {
  color: #e84d37;
  text-decoration-color: rgba(232, 77, 55, 0.3);
}

.backup-form {
  width: 478px;
  height: 442px;
  padding: 20px 25px 25px 25px;
}

.backup-form h4 {
  font-size: 24px;
  line-height: 28px;
  color: #323232;

  margin: 0;
  padding: 0;
}

.pop-up input[type="text"],
.pop-up input[type="password"],
.pop-up textarea {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  vertical-align: middle;
  /* padding-top: 9px; */
  /* padding-bottom: 9px; */
  padding-left: 14px;

  font: inherit;
  font-size: 16px;
  line-height: 24px;
  color: #323232;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.pop-up textarea {
  height: 155px;
}

.pop-up input[type="text"]:hover,
.pop-up input[type="password"]:hover,
.pop-up textarea:hover {
  border: 2px solid #c7c6c5;
}

.pop-up input[type="text"]:focus,
.pop-up input[type="password"]:focus,
.pop-up textarea:focus {
  border: 2px solid #8fbdec;
}

.basket-pop-up {
  width: 539px;
  height: 242px;
  padding-top: 20px;
  padding-right: 13px;
  padding-bottom: 20px;
  padding-left: 20px;

  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.basket-content {
  text-align: left;
  border-bottom: 1px solid grey;
}

.basket-content tr {
}

.basket-content td {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
}

.basket-content td:first-child {
  width: 22px;
}

.basket-content td:nth-child(2) {
  width: 46px;
  vertical-align: middle;
}

.basket-content td:nth-child(3) {
  width: 247px;
}

.basket-content td:nth-child(4) {
  width: 122px;
}

.basket-content img {
  width: 33px;
  height: 33px;
}

.basket-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  text-align: right;
}
/* Стили для сетки */

body {
  /* Временно для сетки
  background-color: transparent;
  background-image: url(../img/gllacy-index.jpg);
  background-size: 1200px 2416px;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 2416px;
*/
}

.catalog-page {
    /* Временно для сетки
    background-color: transparent;
    background-image: url(../img/gllacy-catalog.jpg);
    background-size: 1200px 1650px;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 1650px;
*/
}


.main-header {
  /* Временно для сетки
  min-height: 73px;
  margin-bottom: 1204px;
*/}

.catalog-page .main-header {
  /* Временно для сетки */
  /* margin-bottom: 0; */
  }

.main-navigation {
    /* Временно для сетки */
    /* min-height: 73px; */
}


.main-navigation ul {

    /* Временно для сетки */
    /* min-height: 53px; */
}


.features {
  /* Временно для сетки */
   /* min-height: 250px; */
}

.features h3 {
  /* Временно для сетки */
  /* min-height: 60px; */
}

  .feature-column {
    /* Временно для сетки */
     /* min-height: 187px; */
}

.news-and-subscription {
    /* Временно для сетки */
     /* margin-bottom: 468px; */
}
.news,
.subscription {
    /* Временно для сетки
     min-height: 222px;
     background: none; */
}

.main-footer {
    /* Временно для сетки
     min-height: 104px; */
}

.main-footer .social {
    /* Временно для сетки
     min-height: 104px; */
}

.main-footer .info {
    /* Временно для сетки
     min-height: 104px; */
}

.main-footer .copyright {
    /* Временно для сетки
     min-height: 104px; */
}

.catalog-content {
  /* Временно для сетки
   box-sizing: border-box;
   min-height: 1470px; */
}


.catalog-main-top {
   /* Временно для сетки
   min-height: 90px;
   margin-bottom: 195x; */

}


.catalog-page .catalog {
   /* Временно для сетки */
   /* min-height: 1050px; */
}


